@import "../../vars.css";

.container {
  align-items: center;
  background-color: var(--color-container);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-container);
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: auto;
  padding: 20px;
  transition: var(--transition);
  width: 60%;
}

.container:hover {
  transform: translateY(-10px);
  box-shadow: var(--box-shadow);
}

.container-title h1 {
  color: var(--color-primary);
  font-family: var(--font-family-primary);
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    width: 80%;
    padding: 15px;
  }

  .container-title {
    font-size: 1.5em;
  }

  .container-title h1 {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  .container {
    width: 90%;
    padding: 10px;
  }

  .container-title h1 {
    font-size: 1.2em;
  }
}
