.about {
  align-items: center;
  background-color: #8d9ea28d;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.panel {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
}

.panel:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.name {
  color: #007acc;
  font-size: 1.8em;
  text-align: left;
}

.title {
  color: #666;
  font-size: 1em;
  display: block;
  margin: 10px 0;
  font-family: "eb_garamond_sc12_regular", sans-serif;
  hyphens: auto;
  letter-spacing: normal;
  overflow: hidden;
  word-spacing: normal;
  text-decoration: none;
}

.title a:hover {
  text-decoration: underline;
}

.about-text {
  hyphens: auto;
  letter-spacing: normal;
  word-spacing: normal;
}

.name,
.about-text {
  font-family: "eb_garamond_sc08_regular", sans-serif;
}

.image {
  border-radius: 10px;
  display: block;
  overflow: hidden;
  text-align: center;
}

.image img {
  border-radius: 10px;
  display: block;
  height: auto;
  transition: transform 0.3s ease;
  width: 18rem;
}

.image img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .col-md-6 {
    order: unset;
  }

  .col-md-6.order-1 {
    order: 2;
  }

  .col-md-6.order-2 {
    order: 1;
  }

  .name {
    font-size: 1.4em;
  }

  .image img {
    width: 13em;
  }
}
