.container {
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: auto;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 60%;
}

.container:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.container-title {
  font-size: 2em;
  color: #007acc;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    width: 80%;
    padding: 15px;
  }

  .container-title {
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  .certificate {
    width: 90%;
    padding: 10px;
  }

  .container-title {
    font-size: 1.2em;
  }
}
