@import "../../vars.css";

:root {
  --project-container-width: 60%;
  --project-container-padding: 20px;
  --project-container-bg-color: #f9f9f9;
  --project-container-border-radius: 10px;
  --project-container-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --project-header-margin-bottom: 20px;
  --project-title-font-size: 2em;
  --project-title-color: #007acc;
  --project-organization-font-style: italic;
  --project-organization-color: #555;
  --project-organization-font-size: 1.2em;
  --project-organization-margin-top: 10px;
  --project-description-font-weight: bold;
  --project-description-margin: 10px 0;
  --project-description-text-align: justify;
  --ul-items-padding-left: 0;
  --ul-items-text-align: justify;
  --ul-items-tick-padding-left: 3rem;
  --ul-items-tick-color: var(--color-headings);
  --project-activity-item-padding-left: 0.5rem;
  --project-activity-item-margin-bottom: 1rem;
  --row-margin-top: 20px;
  --col-margin: 10px;
  --project-image-border-radius: 10px;
  --project-image-width: 100%;
  --project-image-transition: transform 0.3s ease;
  --arrow-icon-bg-color: #007acc;
  --arrow-icon-color: white;
  --arrow-icon-padding: 8px;
  --arrow-icon-border-radius: 50%;
  --arrow-icon-transition: transform 0.3s ease;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: var(--project-container-padding);
  background-color: var(--project-container-bg-color);
  border-radius: var(--project-container-border-radius);
  box-shadow: var(--project-container-box-shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: var(--project-container-width);
  margin-bottom: 20px;
}

.projectContainer:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.projectHeader {
  text-align: center;
  margin-bottom: var(--project-header-margin-bottom);
}

.projectTitle {
  font-size: var(--project-title-font-size);
  color: var(--project-title-color);
}

.projectOrganization {
  font-style: var(--project-organization-font-style);
  color: var(--project-organization-color);
  font-size: var(--project-organization-font-size);
  margin-top: var(--project-organization-margin-top);
}

.projectDescription {
  font-weight: var(--project-description-font-weight);
  margin: var(--project-description-margin);
  text-align: var(--project-description-text-align);
}

.ulItems {
  list-style: none;
  padding-left: var(--ul-items-padding-left);
  text-align: var(--ul-items-text-align);
}

.ulItems--tick {
  list-style-image: url("../../assets/images/tick.svg");
  padding-left: var(--ul-items-tick-padding-left);
  color: var(--ul-items-tick-color);
}

.projectActivityItem {
  padding-left: var(--project-activity-item-padding-left);
  margin-bottom: var(--project-activity-item-margin-bottom);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: var(--row-margin-top);
}

.col4,
.col6Medium,
.col12Small {
  flex: 1 1 calc(33.333% - var(--col-margin));
  margin: var(--col-margin);
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.col4:hover,
.col6Medium:hover,
.col12Small:hover {
  transform: scale(1.05);
}

.projectImage {
  display: block;
  overflow: hidden;
  border-radius: var(--project-image-border-radius);
  position: relative;
  width: var(--project-image-width);
}

.projectImage img {
  width: var(--project-image-width);
  height: auto;
  border-radius: var(--project-image-border-radius);
  transition: var(--project-image-transition);
}

.projectImage img:hover {
  transform: scale(1.1);
}

.arrowIcon {
  position: relative;
  bottom: 10px;
  right: 10px;
  background-color: var(--arrow-icon-bg-color);
  color: var(--arrow-icon-color);
  padding: var(--arrow-icon-padding);
  border-radius: var(--arrow-icon-border-radius);
  transition: var(--arrow-icon-transition);
}

.arrowIcon:hover {
  transform: scale(1.1);
}

.paginationContainer {
  margin-top: 20px; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive styles */
@media screen and (max-width: 736px) {
  .col4,
  .col6Medium,
  .col12Small {
    flex: 1 1 calc(100% - var(--col-margin));
  }
}

@media screen and (max-width: 980px) {
  .col4,
  .col6Medium,
  .col12Small {
    flex: 1 1 calc(50% - var(--col-margin));
  }
}

@media screen and (max-width: 1280px) {
  .col4,
  .col6Medium,
  .col12Small {
    flex: 1 1 calc(33.333% - var(--col-margin));
  }
}

@media screen and (max-width: 768px) {
  .projectContainer {
    width: 80%;
    padding: 15px;
  }

  .projectTitle {
    font-size: 1.5em;
  }

  .projectOrganization {
    font-size: 1em;
  }

  .projectDescription {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 480px) {
  .projectContainer {
    width: 90%;
    padding: 10px;
  }

  .projectTitle {
    font-size: 1.2em;
  }

  .projectOrganization {
    font-size: 0.8em;
  }

  .projectDescription {
    font-size: 0.8em;
  }
}
