/* Projects.module.css */
@import "../../vars.css";

.projectContainer {
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 60%;
}

.projectContainer:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.projectHeader {
  text-align: center;
  margin-bottom: 20px;
}

.projectTitle {
  font-size: 2em;
  color: #007acc;
}

.projectOrganization {
  font-style: italic;
  color: #555;
  font-size: 1.2em;
  margin-top: 10px;
}

.projectDescription {
  font-weight: bold;
  margin: 10px 0;
  text-align: justify;
}

.ulItems {
  list-style: none;
  padding-left: 0;
  text-align: justify;
}

.ulItems--tick {
  list-style-image: url("../../assets/images/tick.svg");
  padding-left: 3rem;
  color: var(--color-headings);
}

.projectActivityItem {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.col4,
.col6Medium,
.col12Small {
  flex: 1 1 calc(33.333% - 20px);
  margin: 10px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.col4:hover,
.col6Medium:hover,
.col12Small:hover {
  transform: scale(1.05);
}

.projectImage {
  display: block;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  width: 100%; /* Ensure projectImage takes full width of its container */
}

.projectImage img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.projectImage img:hover {
  transform: scale(1.1);
}

.arrowIcon {
  position: relative;
  bottom: 10px;
  right: 10px;
  background-color: #007acc;
  color: white;
  padding: 8px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.arrowIcon:hover {
  transform: scale(1.1);
}

/* Adjust image sizes for small screens */
@media screen and (max-width: 736px) {
  .col4,
  .col6Medium,
  .col12Small {
    flex: 1 1 calc(100% - 20px);
  }
}

@media screen and (max-width: 980px) {
  .col4,
  .col6Medium,
  .col12Small {
    flex: 1 1 calc(50% - 20px);
  }
}

@media screen and (max-width: 1280px) {
  .col4,
  .col6Medium,
  .col12Small {
    flex: 1 1 calc(33.333% - 20px);
  }
}
