@import "../../vars.css";

/* Project */
.project {
  background: #ffffff;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
  font-family: "Times New Roman", Times, serif;
  margin: auto;
  overflow: hidden;
  position: relative;
  transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
  width: 60%;
}

.panel {
  transition: opacity 0.25s ease-in-out;
  margin-bottom: 0;
  position: relative;
  padding: 3.5em 2.5em 2.5em 2.5em;
  width: 100%;
}

.panel.inactive {
  opacity: 0;
}

@media screen and (max-width: 736px) {
  .project {
    width: 95%;
  }
  .panel {
    padding: 2em 1.5em 1.5em 1.5em;
  }
}

.panel.intro {
  padding: 0;
  height: 20em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* List */
.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url("/src/assets/images/tick.svg");
  padding-left: 3rem;
  color: var(--color-headings);
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Quotes */
.quote {
  color: var(--color-body-darker);
  font-size: 3rem;
  font-style: italic;
  line-height: 1.3;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__organization,
.quote__title {
  color: var(--color-headings);
  font-size: 1.5rem;
  font-style: normal;
}

.quote__organization,
.quote__title {
  font-family: sans-serif;
}

.quote__organization {
  opacity: 0.4;
}

.quote__line {
  bottom: 10px;
  color: var(--color-headings);
  position: relative;
  text-align: justify;
}

.quote__year {
  bottom: 1px;
  line-height: 2;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }
  .quote__organization,
  .quote__title {
    font-size: 1.5rem;
  }
}
