# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
build/
public/fonts

# misc
.DS_Store

.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/src/config.jsx

/src/firebase.js
/src/assets/

/src/App.test.js
/src/App.css
/src/index.css
/src/rows.css