.certificate {
  align-items: center;
  background-color: #8d9ea28d;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certificate:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.panel {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
}

.panel:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.header,
.title,
.year {
  text-align: center;
}

.title,
.year,
.othereducationtitle {
  color: #333;
  font-size: 0.75em;
  margin-bottom: 10px;
}

.course {
  font-family: "eb_garamond_sc08_regular", sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.course,
.duration {
  color: #007acc;
}

.number {
  font-family: "robotslab", sans-serif;
}

.institute,
.tutordescription {
  color: #666;
}

.institute,
.duration,
.tutordescription {
  font-size: 1em;
  display: block;
  margin: 10px 0;
}

.title,
.othereducationtitle,
.institute,
.tutordescription {
  font-family: "eb_garamond_sc12_regular", sans-serif;
  hyphens: auto;
  letter-spacing: normal;
  overflow: hidden;
  word-spacing: normal;
}

.institute a,
.tutordescription a {
  color: #007acc;
  text-decoration: none;
}

.institute a:hover,
.tutordescription a:hover {
  text-decoration: underline;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.col-4 {
  box-sizing: border-box;
  flex: 1 1 calc(33.333% - 20px);
  margin: 10px;
  transition: transform 0.3s ease;
}

.col-4:hover {
  transform: scale(1.05);
}

.image {
  display: block;
  overflow: hidden;
  border-radius: 10px;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.image img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .title,
  .year,
  .othereducationtitle {
    font-size: 0.58em;
  }

  .institute,
  .duration,
  .tutordescription {
    font-size: 0.68em;
  }
}
