@import "../../vars.css";

.certificate-title h1 {
  font-family: "eb_garamond_sc08_regular", sans-serif;
  font-size: 2em;
  color: var(--color-primary);
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .certificate-title {
    font-size: 1.5em;
  }

  .certificate-title h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .certificate-title {
    font-size: 1.2em;
  }

  .certificate-title h1 {
    font-size: 1rem;
  }
}
