/* Panels */
.panel {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
  transition: opacity 0.25s ease-in-out;
  width: 100%;
}

.introPanel {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 20em;
  padding: 0;
}

.year {
  font-family: "robotslab", sans-serif;
}

.panel:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.panel.inactive {
  opacity: 0;
}

@media screen and (max-width: 736px) {
  .panel {
    padding: 2em 1.5em 1.5em 1.5em;
  }
}

@media screen and (max-width: 980px) {
  .introPanel {
    flex-direction: column;
    height: auto;
  }
}
