@import "../vars.css";

.panel {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-container);
  transition: var(--transition);
  padding: 16px;
}

.panel:hover {
  transform: translateY(-3px);
  box-shadow: var(--box-shadow);
}

.panel:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

.number {
  font-weight: bold;
  color: #0056b3;
  font-family: "robotslab", sans-serif;
}

.home {
  background: linear-gradient(to right, #f8f9fa, var(--color-border));
  border-radius: 16px;
  padding: 20px;
}

.home:hover {
  transform: translateY(-5px);
  box-shadow: var(--box-shadow);
}

.home-title {
  color: var(--color-primary);
  font-size: 2em;
  margin-bottom: 10px;
}

.home-text {
  font-size: 1.2rem;
  line-height: 1.7;
  color: #333;
}

.home-title,
.home-text {
  font-family: "eb_garamond_sc08_regular", sans-serif;
}

.image {
  overflow: hidden;
  border-radius: var(--border-radius);
  margin-bottom: 20px;
}

.image img {
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth animation */
  height: auto;
  max-width: 100%; /* Ensures image responsiveness */
}

.image img:hover {
  transform: scale(1.08);
  opacity: 0.9; /* Adds a subtle fade effect */
}

.status-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: all 0.3s ease-in-out;
}

.status-badge:hover {
  background-color: var(--color-primary);
  color: white;
  transform: scale(1.1);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .home {
    text-align: center;
    /* padding: 13px; */
  }

  .home-title {
    font-size: 2.5em;
  }

  .home-text {
    font-size: 1em;
  }
}
