:root {
  --skills-table-margin-top: 40px;
  --skills-table-width: 100%;
  --skills-table-max-width: 800px;
  --skills-table-bg-color: #fff;
  --skills-table-border-radius: 10px;
  --skills-table-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --skills-table-header-bg-color: #007acc;
  --skills-table-header-color: #fff;
  --skills-table-header-hover-bg-color: #005d7a;
  --skills-table-cell-padding: 10px;
  --skills-table-body-even-bg-color: #f2f2f2;
  --skills-table-body-hover-bg-color: #e0e0e0;
}

.skills {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: auto;
  padding: 20px;
  width: 100%;
}

.panel {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.panel:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skills-table {
  background-color: var(--skills-table-bg-color);
  border-radius: var(--skills-table-border-radius);
  box-shadow: var(--skills-table-box-shadow);
  flex-direction: column;
  font-family: "eb_garamond_sc08_regular", sans-serif;
  hyphens: auto;
  letter-spacing: normal;
  margin-top: var(--skills-table-margin-top);
  max-width: var(--skills-table-max-width);
  overflow: hidden;
  text-align: center;
  width: var(--skills-table-width);
  word-spacing: normal;
}

.skills-table-header {
  background-color: var(--skills-table-header-bg-color);
  color: var(--skills-table-header-color);
}

.skills-table-header th {
  cursor: pointer;
  padding: var(--skills-table-cell-padding);
}

.skills-table-header th:hover {
  background-color: var(--skills-table-header-hover-bg-color);
}

.skills-table-body td {
  padding: var(--skills-table-cell-padding);
}

.skills-table-body tr:nth-child(even) {
  background-color: var(--skills-table-body-even-bg-color);
}

.skills-table-body tr:hover {
  background-color: var(--skills-table-body-hover-bg-color);
}

.year {
  font-family: "robotslab", sans-serif;
}

@media (max-width: 768px) {
  .skills {
    width: 88%;
    max-width: 90%;
  }
  .skills-table {
    width: 90%;
    margin-top: 20px;
  }

  .skills-table-header th,
  .skills-table-body td {
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .skills {
    max-width: 88%;
  }
  .skills-table {
    width: 100%;
    margin-top: 10px;
  }

  .skills-table-header th,
  .skills-table-body td {
    padding: 6px;
    font-size: 0.9em;
  }
}
