@import "../../vars.css";

.skills {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: auto;
  padding: 10px;
  width: 100%;
}

.panel {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--color-border);
  border-radius: 10px;
  box-shadow: var(--box-shadow-container);
  transition: var(--transition);
}

.panel:hover {
  transform: translateY(-5px);
  box-shadow: var(--box-shadow);
}

.skills-table {
  background-color: var(--color-panel);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-container);
  flex-direction: column;
  font-family: var(--font-family-primary);
  hyphens: auto;
  letter-spacing: normal;
  margin-top: 20px;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
  width: 100%;
  word-spacing: normal;
}

.skills-table-header {
  background-color: var(--color-primary);
  color: var(--color-panel);
}

.skills-table-header th {
  color: var(--color-primary);
  cursor: pointer;
  padding: 15px;
}

.skills-table-header th:hover {
  background-color: var(--color-border);
}

.skills-table-body td {
  padding: 5px;
}

.skills-table-body tr:nth-child(even) {
  background-color: var(--color-panel);
}

.skills-table-body tr:hover {
  background-color: var(--color-container);
}

.number {
  font-family: var(--font-family-numbers);
}

@media (max-width: 768px) {
  .skills {
    width: 88%;
    max-width: 90%;
  }
  .skills-table {
    width: 90%;
    margin-top: 20px;
  }

  .skills-table-header th,
  .skills-table-body td {
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .skills {
    max-width: 88%;
  }
  .skills-table {
    width: 100%;
    margin-top: 10px;
  }

  .skills-table-header th,
  .skills-table-body td {
    padding: 1.5px;
    font-size: 0.6em;
  }
}
