@import "../../vars.css";

.home {
  align-items: center;
  background-color: var(--color-panel);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  transition: var(--transition);
}

.home:hover {
  transform: translateY(-5px);
  box-shadow: var(--box-shadow);
}

.home-title {
  color: var(--color-primary);
}

.home-text {
  hyphens: auto;
}

.home-title,
.home-text {
  font-family: "eb_garamond_sc08_regular", sans-serif;
}
