@import "../../vars.css";

.panel {
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-container);
  transition: var(--transition);
  padding: 8px;
}

.panel:hover {
  transform: translateY(-5px);
  box-shadow: var(--box-shadow);
}

.panel:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

.home {
  background-color: var(--color-border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-container);
  transition: var(--transition);
  padding: 8px;
}

.home:hover {
  transform: translateY(-5px);
  box-shadow: var(--box-shadow);
}

.home-title {
  color: var(--color-primary);
  font-size: 2em;
  margin-bottom: 10px;
}

.home-text {
  hyphens: auto;
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.home-title,
.home-text {
  font-family: "eb_garamond_sc08_regular", sans-serif;
}

.image {
  overflow: hidden;
  border-radius: var(--border-radius);
  margin-bottom: 20px;
}

.image img {
  transition: transform 0.3s ease;
  width: 100%;
  height: auto;
}

.image img:hover {
  transform: scale(1.1);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .panel,
  .home {
    padding: 13px;
  }

  .home-title {
    font-size: 1.5em;
  }

  .home-text {
    font-size: 1em;
  }
}
