@import "../../vars.css";

.home {
  background-color: var(--color-border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-container);
  transition: var(--transition);
}

.home:hover {
  transform: translateY(-5px);
  box-shadow: var(--box-shadow);
}

.home:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

.home-title {
  color: var(--color-primary);
}

.home-text {
  hyphens: auto;
}

.home-title,
.home-text {
  font-family: "eb_garamond_sc08_regular", sans-serif;
}

.image {
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
}

.image img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.image img:hover {
  transform: scale(1.1);
}
