/* Main Container */
.mainContainer {
  margin: auto;
  max-width: fit-content;
  width: 60%;
}

.card {
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  color: #007acc;
}

.card-text {
  hyphens: auto;
}

.card-title,
.card-text {
  font-family: "eb_garamond_sc08_regular", sans-serif;
}

.introPanel {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 20em;
  padding: 0;
}

.mainContainer:hover {
  transform: translateY(-10px);
}

@media screen and (max-width: 980px) {
  .introPanel {
    flex-direction: column;
    height: auto;
  }
}
