/* Arrow */
.arrow {
  background: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  height: 2em;
  width: 2.5em;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: width 0.15s ease-in-out, padding-right 0.15s ease-in-out;
}

.arrow:hover {
  width: 3em;
  padding-right: 0.25em;
}
