.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding-left: 0;
  list-style: none;
}

.pagination li {
  margin: 0 5px;
}

.pagination button {
  display: block;
  padding: 5px 10px;
  background-color: #007acc;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  border: none;
}

.pagination button:hover {
  background-color: #b51414;
}
