.card {
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  color: #007acc;
}

.card-text {
  hyphens: auto;
}

.card-title,
.card-text {
  font-family: "eb_garamond_sc08_regular", sans-serif;
}

.link {
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.link:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
