@import "../../vars.css";

.title {
  color: var(--color-primary);
  font-family: var(--font-family-secondary);
  font-size: 0.75em;
  hyphens: auto;
  letter-spacing: normal;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
  word-spacing: normal;
}

.number {
  font-family: var(--font-family-numbers);
}

@media (max-width: 768px) {
  .title {
    font-size: 0.58em;
  }
}
