@import "../../vars.css";

.project {
  align-items: center;
  background-color: var(--color-border);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: var(--padding-container);
  transition: var(--transition);
}

.project:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.panel {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
}

.panel:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.header {
  text-align: center;
}

.title {
  color: var(--color-primary);
  font-family: "eb_garamond_sc08_regular", sans-serif;
  font-size: 1.5em;
  hyphens: auto;
  margin-bottom: 10px;
  word-spacing: normal;
}

.number {
  font-family: "robotslab", sans-serif;
}
.placeandyear,
.organization {
  line-height: normal;
}

.placeandyear,
.organization {
  color: #666;
  display: block;
  font-size: 0.7em;
  margin: 10px 0;
  opacity: 0.5;
}

.projectdescription {
  font-weight: bold;
}

.projectdescription {
  font-family: "eb_garamond_sc12_regular", sans-serif;
  hyphens: auto;
  line-height: normal;
  text-align: justify;
  word-spacing: normal;
}

.projectdescription {
  color: #666;
  display: block;
  font-size: 1em;
  margin: 10px 0;
}

.organization a,
.projectdescription a {
  color: var(--color-primary);
  text-decoration: none;
}

.organization a:hover,
.placeandyear a:hover,
.projectdescription a:hover {
  text-decoration: underline;
}

.ulItems {
  list-style: disc;
  padding-left: 1;
}

.ulItems--tick {
  list-style-image: url("../../assets/images/tick.svg");
  padding-left: 2rem;
  color: var(--color-headings);
}

.ulItems {
  font-family: "eb_garamond_sc12_regular", sans-serif;
  hyphens: auto;
}

.projectActivityItem {
  line-height: 1.2;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

.paginationContainer {
  margin: 20px 0;
}

/* Update the project image layout */
.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three images per row */
  gap: 0.5rem; /* Add space between images */
}

.image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.modalImage {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.modal-content {
  padding: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .row {
    grid-template-columns: 1fr;
  }
}

.fit {
  display: block;
  width: 100%;
}

.featured {
  display: block;
  width: 100%;
  margin: 0 0 2em 0;
}

.left {
  float: left;
  margin: 0 2em 2em 0;
}

.centered {
  display: block;
  margin: 0 0 2em 0;
}

.centered img {
  margin: 0 auto;
  width: auto;
}
