@import "../../vars.css";

.pagination {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  gap: 1rem;
}

.cardContainer img {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.cardHeader {
  background-color: #f8f9fa;
  font-family: "eb_garamond_sc08_regular", sans-serif;
  padding: 10px 15px;
}

.cardImage {
  max-height: 300px;
  object-fit: cover;
}

.cardContainer .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Card footer for spacing */
.cardContainer .card-footer {
  text-align: center;
  margin-top: auto;
}

.filterSection .dropdown-menu {
  width: 100%;
  padding: 0;
}

.filterSection .dropdown-menu div {
  padding: 10px;
}

@media (max-width: 768px) {
  .card-column {
    margin-bottom: 0.5rem;
  }
}
