@import "../../vars.css";

.title h1 {
  color: var(--color-primary);
  font-family: "eb_garamond_sc08_regular", sans-serif;
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.cardContainer img {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.cardContainer .card-body {
  flex-grow: 1; /* Allow the body to stretch and align */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Card footer for spacing */
.cardContainer .card-footer {
  text-align: center;
  margin-top: auto; /* Push footer content to the bottom */
}

@media (max-width: 768px) {
  .title h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  .title h1 {
    font-size: 1.2em;
  }
}
