@import "../../vars.css";

.nav {
  text-align: center;
  height: 4.25em;
  cursor: default;
}

.nav a {
  display: inline-block;
  color: var(--color-container);
  font-size: 2.5em;
  height: 1em;
  line-height: 0.9em;
  margin: 0 0.25em 0 0.25em;
  outline: 0;
  opacity: 0.45;
  position: relative;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  width: 1em;
}

.nav a.icon:before {
  padding-right: 0;
}

.nav a:before {
  font-size: 0.8em;
}

.nav a:after {
  border-bottom: solid 0em var(--color-container);
  border-left: solid 0.5em transparent;
  border-right: solid 0.5em transparent;
  bottom: -0.75em;
  content: "";
  display: block;
  left: 50%;
  margin-left: -0.5em;
  position: absolute;
  transition: border-bottom-width 0.25s ease-in-out;
  -moz-transition: border-bottom-width 0.25s ease-in-out;
  -webkit-transition: border-bottom-width 0.25s ease-in-out;
  -ms-transition: border-bottom-width 0.25s ease-in-out;
}

.nav a span {
  display: block;
  position: absolute;
  background: var(--color-border);
  color: var(--color-container);
  top: -2.75em;
  font-size: 0.3em;
  height: 2.25em;
  line-height: 2.25em;
  left: 50%;
  opacity: 0;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  width: 5.5em;
  margin-left: -2.75em;
}

.nav a span:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.4em;
  left: 50%;
  margin-left: -0.6em;
  border-top: solid 0.6em var(--color-border);
  border-left: solid 0.6em transparent;
  border-right: solid 0.6em transparent;
}

.nav a:hover {
  opacity: 1;
}

.nav a:hover span {
  opacity: 1;
}

.nav a.active {
  opacity: 1;
}

.nav a.active:after {
  border-bottom-width: 0.5em;
}

@media screen and (max-width: 980px) {
  .nav a span {
    display: none;
  }
}
